body {
  margin: 0px;
  text-align: center;
}

header {
  border: solid black 5px;
  border-left: unset;
  border-right: unset;
  margin: 5px 0px;
}


/* remove the arrow on the input field*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input{
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
}